/* default */
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    color: #3A436A;
}
*:after,*::before{
    box-sizing: border-box;
}
.icon{
    width: 3em; height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body{
    height: 100vh;
    background: url(../img/page.jpg);
}
ol,li{
    list-style: none;
}
button{
    padding: .5em 1.5em;
    border: transparent;
    border-radius: .3em;
    color: #fff;
    cursor: pointer;
    background: #397DFF;
}

/* 滚动条 */
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bbb;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

/* 样式 */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 10vh;
}

.page{
    display: flex;
    flex-direction: column;
}

.page .page-detail{
    height: 90vh;
    background: transparent;
    display: flex;
}
main{
    flex-grow: 1;
    background: rgba(230,230,230,0.1);
    display: flex;
}
aside{
    width: 50%;
    background: rgba(230,230,230,0.1);
    display: flex;
    flex-direction: column;
}
.page aside .songList{
    flex-grow: 1;
    padding: .5em 1em;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 1em 3em;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.page aside .songList > h2{
    font-size: 2em;
    padding: .5em 1.5em;
}
.page aside .songList ul{
    flex-grow: 1;
    overflow: auto;
}

.page aside li{
    padding: .5em 1em;
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    margin: 1em 3em;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.5);
}
/* .page aside li:nth-child(2n){
    background: #1B1D20;
} */
.page aside li:hover{
    background: #397DFF;
}
.page aside li.active{
    background: #FFFFFF;
}
.page .newSongButton{
    padding: 1em 1em;
    background: rgba(0,0,0,0.3);;
    border-radius: 5px;
    margin: 1em 3em;
    box-shadow: 0px 10px 59px 0px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .newSongButton:hover{
    animation: small 0.9s 0s linear infinite alternate-reverse;
}
@keyframes small {
  0% {transform: scale(0.95);}
  50% {transform: rotate(0.9);}
  100% { transform: rotate(0.85);}}

.page .newSongButton.active .add{
   animation: rotate 0.9s 0s linear infinite;
}
.page .newSongButton div{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .upArea{
    flex-grow: 1;
    padding: 4em 2em;
}
.page .upArea > .draggable {
    border-radius: .3em;
    border: 3px dashed #dFdFdF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}
.add{
    width: 2.5em; height: 2.5em;
}
.add:hover{
    animation: rotate 0.9s 0s linear infinite;
}
@keyframes rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% { transform: rotate(360deg);}}

.page main{
    display: flex;
    flex-direction: column;
}
.page main .row{
    margin: 1em;
    padding: 0 2em;
}
.page main .row label{
    height: 2.2em;
}
.page main .row input{
    background: #fff;
    border: transparent;
    font-size: .8em;
    line-height: .8em;
    margin-left: 2em;
    padding: .5em;
    border-radius: 5px;
    display: inline-block;
}
.page main .row textarea{
    background: #fff;
    border: transparent;
    font-size: .8em;
    margin-left: 2.3em;
    border-radius: 5px;
    padding-left: .5em;
}
.page main .row button{
    margin: 2em 0;
}
.page main .row button.active {
    opacity: 0.3;
    cursor: not-allowed;
}
.page main h1{
    padding: 0.5em 1em;
}


.page main .newSongFrom,
.page main .updateSongFrom{
    background: rgba(0,0,0,0.3);;
    margin: 1em 3em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 10px 59px 0px rgba(0,0,0,0.5);
    animation: ball-scale 1s 0s ease-in-out;
    flex-grow: 1;
}
.page main .newSongFrom.active{
    display: none;
}
.page main .updateSongFrom.active{
    display: none;
}

@keyframes ball-scale {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
  }
}

.site-loading{
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.site-loading.active{
    visibility: visible;
}
.line-scale{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-scale > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }